/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.cdnfonts.com/css/adumu-inline');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(../images/Design_sem_nome_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.circle {
  position: relative;
  top: 13vh;
  margin-left: 1100px;
  flex-grow: 1;
  width: 35%;
  height: 35%;
  background: #eb29391e;
  clip-path: circle();
  padding: 0px;
}

.sliders {
  margin: auto;
  width: 800px;
  height: 800px;
  overflow: hidden;
  border-radius: 0.5rem;
}
.slides{
  width: 400%;
  height: 400px;
  display: flex;
}
.slides input {
  display: none;
}
.slide{
  width: 25%;
  position: relative;
  transition-timing-function: ease;
  transition-duration: 2s;

}
.slide img{
  width: 900px;
  margin-top: 120px;
  margin-left: 0px;
}
.manual-navegacao {
  position: relative;
  width: 675px;
  top: 28vh;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #FFF;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.manual-btn:not(:last-child){
  margin-right: 30px;
}
.manual-btn:hover{
  background-color: #FFF;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -25%;
}
#radio3:checked ~ .first{
  margin-left: -50%;
}
#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigacao-auto div{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navegacao-auto {
  position: absolute;
  width: 800px;
  margin-bottom: 40px;
  justify-content: center;
}
.navegacao-auto div:not(:last-child){
  margin-right: 30px;
}
#radio1:checked~.navegacao-auto .auto-btn1{
  background-color: #FFF;
}
#radio2:checked~.navegacao-auto .auto-btn2{
  background-color: #FFF;
}
#radio3:checked~.navegacao-auto .auto-btn3{
  background-color: #FFF;
}
#radio4:checked~.navegacao-auto .auto-btn4{
  background-color: #FFF;
}

/* Hotelex */
.ladex h2 {
  position: relative;
  bottom: 80vh; 
  width: 100%;
  left: 140vh; 
  font-size: 5vh; 
  flex-grow: 1;
  align-items: center;
  color: #eadd93;
  font-family: 'Adumu', sans-serif;
}

/*RESERVE SEU REFÚGIO*/
.ladex span {
  position: relative;  
  bottom: 80vh;
  flex-grow: 1;
  left: 130vh;
  width: 100%;
  font-size: 2vh;
  font-weight: 100;
  text-align:left;
  color: #eadd93;
  font-family: 'Roboto', sans-serif;
}
/*Condições de uso*/
.ladex k2 {
  position: absolute;
  font-size: 1.5vh;
  left: 175vh;
  bottom: 2vh;
  text-align: center;
  color: #eadd93;
  font-family: 'Lato', 'Sans-serif';
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-top: 10px;
  bottom: 1000px;
}

/* Forma do login (card) */
.card {
  position: relative;
  flex-grow: 1;
  bottom: 95vh;
  background-color: #eadd93;
  padding: 20vh;
  border-radius: 15%;
  width: 40vh;
  height: 50vh;
  margin-left: 10vh;
  box-shadow: 3px 3px 1px 0px #00000060;
  text-align: center;
}

.card2 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-grow: 1;
  min-width: 400px;
  background-color: #39371F;
  padding: 15vh;
  height: 25vh;
  border-radius: 5%;
}

.card3 {
  position: relative;
  background-color: #eadd93;
  height: 3.5vh;
  width: 25vh;
  padding: auto;
  left: 8vh;
  border-radius: 5%;
  font-size: 10px;
  bottom: 120px;
  flex-grow: 1;
}

.texto_right {
  text-align: initial;
  position: relative;
  right: 120px;
  top: 12px;
  margin-right: -120%;
}

.titulex {
  margin-top: -130px;
}

h1 {
  font-size: 60px;
  text-align: center;
  position: relative;
  color: #000000;
  font-family: 'Adumu';
  bottom: 40px;
}

h1-1 {
  position: relative;
  font-size: 40px;
  color: #000000;
  font-family: 'Adumu';
  bottom: 40px;
}

h1-2 {
  font-size: 25px;
  text-align: center;
  color: #fff;
  font-family: 'Adumu';
  font-weight: 30;
  bottom: 130px;
  position: relative;
}

h1-3 {
  position: relative;
  text-align: right;
  color: #000000;
  font-family: 'Adumu';
  top: 10px;
  font-size: 19px;
}

h1-2-1 {
  font-size: 20px;
  color: #fff;
  font-family: 'Adumu';
  font-weight: 30;
  bottom: 115px;
  position: relative;
  text-align: right;
}

.texto_right2 {
  text-align:left;
  position: relative;
  right: 127px;
  margin-right: -65%;
  bottom: 105px;
}

h1-4 {
  font-size: 18px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: bold;
  top: 0px;
  position: relative;
  text-align: right;
}

/* H1-4-1 */
h1-4-1 {
  font-size: 18px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 0;
  top: 0px;
  position: relative;
  text-align
  : right;
}

/* Botão de login */
button {
  background-color: #39371F;
  border-color: #000000;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 15pt;
  top: 0px;
  border-radius: 10px;
  cursor: pointer;
  outline: invert;
  width: 100%;
  max-width: 1800px;
  height: 50px;
}

/* Fundo do botão no hover */
button:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Lista do ladex */
.ladex ul a {
  color: #eadd93;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-out;
}

/* Hover na lista do ladex */
.ladex ul a:hover {
  color: #fffdfd;
}

/* Justify center */
.justify-center {
  display: flex;
  justify-content: center;
}
