@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.cdnfonts.com/css/adumu-inline');
* {
  margin: 0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}
/*fundex*/
body {
  background-image: url(../images/Design_sem_nome_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.circle {
  position: relative;
  top: 130px;
  margin-left: 1100px;
  flex-grow: 1;
  width: 35%;
  height: 35%;
  background: #eb29391e;
  clip-path: circle();
  padding: 0px;
} 
.sliders{
  margin:0 auto;
  width: 800px;
  height: 800px;
  overflow: hidden;
  border-radius: 0.5rem;
}
.slides{
  width: 400%;
  height: 400px;
  display: flex;
}
.slides input {
  display: none;
}
.slide{
  width: 25%;
  position: relative;
  transition-timing-function: ease;
  transition-duration: 2s;
}
.slide img{
  width: 900px;
  margin-top: 0px;
  margin-left: 20px;
}
/*manual*/
.manual-navegacao{
  position:absolute;
  width: 800px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  top: 65vh;
  left: -7vh;
}
.manual-btn{
  border: 2px solid #FFF;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 3.5s;
}
.manual-btn:not(:last-child){
  margin-right: 30px;
}
.manual-btn:hover{
  background-color: #FFF;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -25%;
}
#radio3:checked ~ .first{
  margin-left: -50%;
}
#radio4:checked ~ .first{
  margin-left: -75%;
}
/*automatico*/
.navegacao-auto div{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 3.5s;
}
.navegacao-auto{
  position: absolute;
  width: 800px;
  margin-top: 450px;
  display: flex;
  justify-content: center;
  top: 65vh;
  left: -7vh;
}
.navegacao-auto div:not(:last-child){
  margin-right: 30px;
}
#radio1:checked~.navegacao-auto .auto-btn1{
  background-color: #FFF;
}
#radio2:checked~.navegacao-auto .auto-btn2{
  background-color: #FFF;
}
#radio3:checked~.navegacao-auto .auto-btn3{
  background-color: #FFF;
}
#radio4:checked~.navegacao-auto .auto-btn4{
  background-color: #FFF;
}
/*fim dos slides*/
.ladex h2{
  position:absolute;
  width: 100%;
  top:60px;
  right: 335px;
  font-size: 50px;
  display: flex;
  align-items:center;
  justify-content:end;
  color: #eadd93;
  font-family:'Adumu', sans-serif;
  
}
.ladex span{
  position: absolute;
    font-weight: 100;
    text-decoration: none;
    font-size: 19px;
    max-width: 450px;
    align-items:center;
    width: 100%;
    right: 200px;
    nav-down: 10px;
    top: 120px;
    text-align: center;
    justify-content:end;
    color: #eadd93;
    font-family:'Roboto', sans-serif;
}
.ladex k2 {
  position: absolute;
  font-size: 1.5vh;
  left: 175vh;
  bottom: 2vh;
  text-align: center;
  color: #eadd93;
  font-family: 'Lato', 'Sans-serif';
}
/*posicao do quadrado*/
.container {
  display: flex;
  justify-content: center;
  width:40%;
  margin-top: 100px;
}
/*forma do login quadadex*/
.card {
  position: relative;
  flex-grow: 1;
  bottom: 80vh;
  background-color: #eadd93;
  padding: 5vh;
  border-radius: 15%;
  margin-left: 10vh;
  /*sombrex*/
  box-shadow: 3px 3px 1px 0px #00000060
}
/*Faça seu login*/
h1{
  position: relative;
  font-size: 62px;
  text-align: center;
  top: 4vh;
  color: #000000;
  font-family:'Adumu';
  font-weight:30;
}
/*mexe com email sennha*/
.label-float input{
  position:relative;
  flex-grow: 1;
  left: 12vh;
  top: 4vh;
  padding: 10px 10px;
  border: 1;
  background-color: transparent;
  outline: black;
  width: 50vh;
  min-width: 50vh;
  font-size: 30px;
  transition: all .3s ease-out;
  border-radius: 14px;
}
/*espessura do quadradex quando clica*/
.label-float{
  position:relative;
  left:-10vh;
  top:5vh;
  padding-top: 12px;
}

.label-float input:focus{
  border-bottom: 2px solid #000000;
  border-radius: 4px;
  position:relative;
}
/*posicao do email senha*/
.label-float label{
  color: #000000;
  top: 4vh;
  left: 0vh;
  margin-top: 50vh;
  margin-left: 13vh;
  transition: all .3s ease-out;
}
/*posicao dos email e senha mas quando clica em baixex*/
.label-float input:focus + label,
.label-float input:valid + label{
  position: relative;
  font-size: 14px;
  margin-top: 0px;
  margin-left: 12vh;
  color: #000000
}
.label-float select{
  font-size: 0px;
  margin-top:0;
  margin-left: 0;
  color: #c21414
}
/*botao login*/
button{
  background-color: #39371F;
  border-color: #000000;
  color: #FFFFFF;
  padding: 1vh;
  font-size: 15pt;
  border-radius: 14px;
  cursor: pointer;
  outline: invert;
  transition: all .4s ease-out;
  width:40vh;
  max-width: 180vh;
  margin: 2vh;
  height: 5vh;
  margin-top: 9vh;
}
/*fundo do botex*/
button:hover{
  background-color: #000000;
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content: center;
}

p{
  color: #39371F;
  font-size: 14pt;
  text-align: center;

}

p a{
  color: #39371F;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-out;
}
c{
  color: #000000;
  font-size: 14pt;
  text-align: 100px;
  margin-left: 12vh;
  bottom: 2vh;
  position:relative; 
}
.ladex ul a{
  color: #eadd93;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-out;
}
.ladex ul a:hover{
  color: #fffdfd;
}
p a:hover{
  color:#FFF;
}
/**/
.btn_social { 
	width:100%; 
	float:left; 
	display:flex; 
	margin:auto; 
}
.btn_social ul  { 
	width:auto; 
	margin:auto; 
	float:left; 
	display:block; 
}
.btn_social ul li  { 
	position:relative; 
	background:#39371f; 
	list-style:none; 
	float:left; 
	margin:5px; 
	z-index:1; 
	overflow:hidden; 
	border-radius:3px; 
	font-size:1.5em; 
	text-align:center; 
}
.btn_social ul a  { 
	width: 70px; 
	height:60px; 
	line-height:53px; 
	display:block; 
	text-decoration:none; 
	color:#ffffff; 
  margin-top: 10px;
  font-size: 40px;
	transition:.4s;
}
.btn_social ul li::before { 
	transition:0.4s; 
	position:absolute; 
	content:''; 
	width:100%; 
	height:100%; 
	top:90%; 
	left:0; 
	background:#000000; 
	z-index:-1; 
	transform: scale(1); 
	transition:.4s; 
}
.justify-center{
  display: flex;
  justify-content: center;
}
.btn_social ul li:hover::before { transition:0.4s; top:0%; }
.btn_social ul li a:hover       { color:#eadd93; }
/**/
.fa-eye{
  position: absolute;
  left: 61vh;
  cursor: pointer;
  color: #000000;
}

 #msgError{
  position: relative;
  top: 4.5vh;
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
  margin-bottom: -5vh;
}

